<<<<<<< HEAD
@use "../../Styles/colors.addProgramme.scss";
@use "../../Styles/colors.role.scss" as colors2;
@use "../../Styles/variables.scss";
=======
@import '../../Styles/colors.addProgramme.scss';
@import '../../Styles/colors.role.scss';
@import '../../Styles/variables.scss';
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f

.to-lable {
  text-align: center;
  margin-top: 8px;
}
.monitoring-form-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 50px;

  .title-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    .main {
      font-size: 1.25rem;
      font-weight: 500;
<<<<<<< HEAD
      color: variables.$primary-color;
=======
      color: $primary-color;
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
    }

    .sub {
      font-size: 0.8rem;
<<<<<<< HEAD
      color: colors.$title-sub;
=======
      color: $title-sub;
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
    }
  }

  .forms-container {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    background-color: colors.$common-form-white;
=======
    background-color: $common-form-white;
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  }

  .stepper-container {
    display: flex;
    margin-bottom: 2rem;
  }
}

.step-form-container {
  width: 100%;

  .form-section-title {
    margin-bottom: 20px;
    color: rgba(58, 53, 65, 0.5);
    font-weight: bolder;
  }
  .custom-label-monitoring {
    color: rgba(58, 53, 65, 0.5);
    margin-bottom: 10px;
  }
  .design-upload-section-monitoring {
    display: block;
    align-items: start;
    width: 50%;

    .icon-color {
<<<<<<< HEAD
      color: variables.$primary-color !important;
=======
      color: $primary-color !important;
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
    }

    .ant-upload-list {
      max-height: 120px;
      overflow-y: auto;
      margin-top: 10px;
    }
  }

  .form-section-heading {
    margin-bottom: 20px;
    margin-top: 30px;
    color: #3a3541cc !important;
    font-weight: 600;
    font-size: 16px;
  }

  .form-section {
    background-color: #fbfbfb;
    padding: 25px 30px;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  .form-list-actions {
    display: flex;
    flex-direction: row;
    // align-items: center;

    h4 {
      margin-top: 6px;
      margin-right: 20px;
    }
    button {
      margin-right: 20px;
    }

    .ant-btn-lg {
      padding: 0 15px !important;
    }
  }
  .custom-label {
    .ant-form-item-label
<<<<<<< HEAD
      > label.ant-form-item-required:not(
        .ant-form-item-required-mark-optional
      )::before {
=======
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
      margin-bottom: 10px;
    }
  }

<<<<<<< HEAD
  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input,
  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input:hover {
=======
  .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
  .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
    border-color: #ff4d4f !important;
  }

  .ant-picker-large {
    height: 40px !important;
    width: 100%;
  }

  .ant-upload-list-item-name {
<<<<<<< HEAD
    color: variables.$primary-color;
=======
    color: $primary-color;
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
  }

  .step-actions {
    &-end {
      button {
        margin-right: 10px;
      }
    }
  }

  .full-width-form-item {
    width: 100%;
  }

  .row {
    width: 100%;
    // .step-form-right-col {

    // }
  }
<<<<<<< HEAD
=======
  .step-form-label {
    text-align: center;
    color: rgba(58, 53, 65, 0.58);
    font-weight: bold;
  }
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
}

.stepper-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .step-count {
    font-size: 2.2rem;
    font-weight: 800;
    margin-right: 0.4rem;
<<<<<<< HEAD
    color: colors.$steps-count;
=======
    color: $steps-count;
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
<<<<<<< HEAD
    color: colors.$steps-title;
=======
    color: $steps-title;
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
  }
}
.projectParticipantsTable {
  margin: 20px 0px;

  .col-1 {
    border: 0.5px solid #c4c4c4;
    width: 30%;
    padding: 10px 20px;
  }

  .col-2 {
    width: 50%;
    border: 0.5px solid #c4c4c4;
    padding: 10px 20px;
  }

  .col-3 {
    width: 20%;
    padding: 10px 20px;
  }
<<<<<<< HEAD

=======
  .bold-header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
  .header {
    display: flex;
    flex-direction: row;

    .col-1 {
      background-color: #fbfbfb;
    }

    .col-2 {
      background-color: #fbfbfb;
    }
  }

  .data-body {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
    }

    .participant-col {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
    }

    .addMinusBtn {
      height: 32px !important;
      width: 20px !important;
      margin-left: 16px;
    }

    .participant-form-item {
      width: 60% !important;
      margin-bottom: 16px;
    }

    .col-1 {
      background-color: white !important;

      .ant-form-item {
        margin-bottom: 0 !important;
      }
    }

    .col-2 {
      background-color: white !important;
      .ant-form-item {
        margin-bottom: 0 !important;
      }
    }

    .btn {
      padding-top: 10px;
    }
  }
}

.appendix-title {
  font-size: 18px;
  margin-top: 36px;
  color: rgba(58, 53, 65, 0.58);
  i {
    color: rgba(58, 53, 65, 0.5);
  }
}

// .step-actions {
//   &-end {
//     margin: 10px;
//   }
// }
// .ant-tooltip {
//   // width: 900px !important;
//   .ant-tooltip-content {
//     width: 600px !important;
//     // padding: 10px;
//     li {
//       list-style-position: inside;
//       list-style: disc;
//     }
//   }
// }
<<<<<<< HEAD
/* Hides the default required asterisk in Ant Design Form.Item */
.no-required-mark .ant-form-item-required::before {
  display: none !important;
}
=======
>>>>>>> 1db9d126a020558b324be754ac861a2b937fa63f
